<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>
    <% const name ='Peter' %>
    
    <p>Lorem ipsum dolor sit amet </p>
    <p><%= name %></p>
    <div id="about">
       <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
        Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
       </p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>