<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <p>Lorem ipsum dolor sit amet </p>
    <div id="contact">
       <p>You can reach out to us by: +250785806166</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>